.hash {
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-overflow: ellipsis;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-weight: bold;
}
/* unvisited link */
a:link {
    color: #6082B6;
  }
  
  /* visited link */
  a:visited {
    color: #7393B3;
  }
  
  /* mouse over link */
  a:hover {
    color: #36454F;
  }