.footer {
   display: flex;
   margin: 5px;
}

.footer > p {
    margin: 5px;
}

.btn {
  padding:  1px;
  margin: 5px;
}
.list {
    border: 1px solid black;
    padding: 15px;
    margin: 5pxc;
    color: darkolivegreen;
}
.item {
    font-weight: bold;
    float: left;
}

.expand-collapse {
    cursor: pointer;
    text-indent: 5px;
}
