ul.no-bullets {
    list-style-type: none;
  }

.box {
  width:10rem;
  border:0.1rem solid #C0C0C0; 
  overflow: hidden;
  padding: 0.5rem;
  margin: 0.5rem;
  
}
.text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block; 
}
.btn{
   float: right;
}

